name: Deploy to Qiniu Cloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install ossutil
        run: |
          curl -o ossutil-2.1.2-linux-amd64.zip https://gosspublic.alicdn.com/ossutil/v2/2.1.2/ossutil-2.1.2-linux-amd64.zip
          unzip ossutil-2.1.2-linux-amd64.zip
          cd ossutil-2.1.2-linux-amd64
          chmod +x ossutil
          sudo mv ossutil /usr/local/bin/
          rm -rf ossutil-2.1.2-linux-amd64.zip
          export PATH=$PATH:/usr/local/bin

      - name: Upload files to OSS
        env:
          OSS_ACCESS_KEY: ${{ secrets.OSS_ACCESS_KEY }}
          OSS_SECRET_KEY: ${{ secrets.OSS_SECRET_KEY }}
          OSS_BUCKET: ${{ secrets.OSS_BUCKET }}
          OSS_ENDPOINT: ${{ secrets.OSS_ENDPOINT }}
        run: |
          ossutil config -e $OSS_ENDPOINT -i $OSS_ACCESS_KEY -k $OSS_SECRET_KEY
          ossutil cp -r ./ oss://$OSS_BUCKET/

      - name: Connect SSH
        run: |
          ssh -i ${{ secrets.SSH_PRIVATE_KEY }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}
          cd /website/RCCWebsite
          git pull
          
          

