name: Deploy to Qiniu Cloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install ossutil
        run: |
          chmod +x ossutil64
          sudo mv ossutil64 /usr/local/bin/
          export PATH=$PATH:/usr/local/bin

      - name: Upload files to OSS
        env:
          OSS_ACCESS_KEY: ${{ secrets.OSS_ACCESS_KEY }}
          OSS_SECRET_KEY: ${{ secrets.OSS_SECRET_KEY }}
          OSS_BUCKET: ${{ secrets.OSS_BUCKET }}
          OSS_ENDPOINT: ${{ secrets.OSS_ENDPOINT }}
        run: |
          mkdir -p ~/.ossutilconfig.d
          cat > ~/.ossutilconfig <<EOF
          [Credentials]
          language=CH
          endpoint=${{ secrets.OSS_ENDPOINT }}
          accessKeyId=${{ secrets.OSS_ACCESS_KEY }}
          accessKeySecret=${{ secrets.OSS_SECRET_KEY }}
          EOF
          ossutil64 cp -r ./ oss://$OSS_BUCKET/

      - name: Connect SSH
        run: |
          ssh -i ${{ secrets.SSH_PRIVATE_KEY }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}
          cd /website/RCCWebsite
          git pull
          
          

